<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="defaultLayout" value="${longdate} | ${level:padding=6} | ${logger} | ${message} | ${exception:format=toString}" />
  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${defaultLayout}" />
    <target xsi:type="RichTextBox" name="w" layout="${defaultLayout}"
            autoScroll="true"
            formName="LogForm"
            controlName="logTarget"
            allowAccessoryFormCreation="false"
            messageRetention="All"
            maxLines="500"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="w" />
  </rules>
</nlog>
